*{
    margin: 0;
    padding: 0;  
    font-family: 'Roboto', sans-serif;  
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:ital,wght@0,300;1,300;1,600&family=Outfit:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@300;400;700&family=Open+Sans:ital,wght@0,300;1,300;1,600&family=Outfit:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

header {
    width: 100%;
    height: 22vh;    
    background-position: center;
    background-size: cover;   
    background: linear-gradient(90deg, yellow, orange, red, yellow); 
}

._container-header{
    display: flex;    
    align-items: center ;
    justify-content: space-between;
}

._img-header{
    width: 100%;
    height: 20vh; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 10px;
}

._menu-header{
    width: 100%;
    height: 22vh; 
    display: flex;
    align-items: center;
    justify-content: center;  
    padding-left: 100px;
}

._menu-header button {
    padding: 3px;
    border-color: rgb(250, 25, 238);    
    border-radius: 4px;
    margin-left: 10px;
    background: linear-gradient(90deg, rgb(103, 250, 103), green);
}

._menu-header a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
    color: purple;    
    font-size: 22px;
    font-family: 'Bangers', cursive;
}

._menu-header button:hover {
    padding: 3px;
    border-color: rgb(250, 25, 238);    
    border-radius: 4px;
    margin-left: 10px;
    background: linear-gradient(90deg, rgb(193, 1, 190), rgb(50, 0, 50));
}

._menu-header img {
    width: 25px;
    height: 22px;
    padding: 0 6px;    
}

._menu-header a:hover {
    text-decoration: none;
    color: yellow;    
    font-size: 22px;
}

._contato-container {
    width: 100%;
    height: 140vh;
    background: linear-gradient(rgb(188, 246, 191), rgb(103, 250, 103), rgb(188, 246, 191));
    color: purple;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

form {
    width: 100%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px 0;
    background-image: linear-gradient(to right, #ff00cc 0%, #333399  51%, #ff00cc  100%);
    border-radius: 1.5rem;
    color: #F9D423;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 10px 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 4px;
}

.checkbox {
    margin: 20px 0;
}

._contato-radio{
    padding-bottom: 20px;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%);
    color: #8a05fe ;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

._enviar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.enviar:hover {
    background-image: linear-gradient(to right, #FDFC47 0%, #24FE41  51%, #FDFC47  100%);
    transform: scale(1.2);
}

fieldset {
    border: none;
}

._footer-container {     
    display: flex;
    flex-direction: column;   
    text-align: center;
    background: linear-gradient(90deg, yellow, orange, red, yellow);    
}

._footer-logo {
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
._footer-logo img {
    width: 110px;
    height: 110px;
}

._footer-span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: purple;
    font-size: 15px;
    padding-bottom: 5px;
}

._footer-span span {
    padding: 5px;
    font-family: 'Bangers', cursive;
}

._span-dev {
    font-size: 10px;
}
